{
  "name": "Evaluation assignment GraphQL Schema",
  "schemaPath": "schema.graphql",
  "extensions": {
    "endpoints": {
      "Default GraphQL Endpoint": {
        "url": "<url>",
        "headers": {
          "Authorization": "Bearer <token>"
        },
        "introspect": false
      }
    }
  }
}